@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

    /* Cores principais */
  --color-primary: #0265F2;
  --color-secondary: #3D35DE;
  --color-accent: #EA8D0A;

  /* Escala da cor principal */
  --color-primary-50: #F3F7FB;
  --color-primary-100: #CADBF3;
  --color-primary-200: #9BBEEF;
  --color-primary-300: #69A1F0;
  --color-primary-400: #3182F5;
  --color-primary-500: #0265F2;
  --color-primary-600: #0251C2;
  --color-primary-700: #013D92;
  --color-primary-800: #012962;
  --color-primary-900: #011532;

  /* Neutros */
  --color-background: #F6F7F8;
  --color-surface: #FFFFFF;
  --color-text: #1A222E;
  --color-border: #D9DEE5;

}

/* ---------- Reset ---------- */
*, *::before, *::after { 
  box-sizing: border-box; 
}

* {
   margin: 0;
   text-decoration: none;
   color: var(--color-text);
}

img, svg { 
  display: block; 
  max-width: 100%; 
}

.menu-link{
  @apply 
  block 
  w-full  
  py-2 px-3
  transition-colors
  duration-200
}

.menu-link:hover{
  @apply
  bg-primary-100
  border-l-2
  border-primary-600
}

.menu-link.active{
  @apply
  bg-primary-600 
  border-l-2
  text-white
}

.card-dashboard{
  @apply
  flex
  flex-col
  rounded-xl
  py-6
  items-center
  gap-2
  bg-primary-50
  shadow-md
}
.card-dashboard h2{
  @apply
  text-lg
  font-semibold
}

.card-dashboard p{
  @apply
  text-2xl
  font-bold
  text-primary-600
}